.funFact { 
	font-style: italic;
}

li {
	font-style: italic;
	list-style-type: none;

}

span {
	font-weight: bold;
}

.content {
	border: 3px solid #888888;
	padding: 10px;
}

body {
	border: 3px solid #888888;
	padding: 10px;
	width: 300px;
}

.image {
	width: 300px;
}